.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 600px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  padding: 30px 10px;
  /*background: #7986CB;*/
  /*color: floralwhite;*/
}

/* Utkarsh's styles */
#chart {
    margin-left: 0px;
    height: 500px;
}

text{
  font: 13px "sans-serif";
}

#start{
    font: 20px "sans-serif";
    margin-left: 90px;
}

#finish{
    position: absolute;
    font: 20px "sans-serif";
    margin-left: 875px;
}

#play{
    position: absolute;
    margin-left: 40px;
}

.bubble, line {
  stroke: #fff;
}

.axis path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.label {
  fill: #fff;
}

.year.label {
  font: 500 200px "sans-serif";
  fill: #fff;
}

#slider {
    -webkit-appearance: none !important;
    -webkit-border-radius: 5px;
    border: 1px solid #000;
    background-color: #ffffff;
    height: 10px;
    width: 925px;
    margin: 5px 20px 10px 95px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -webkit-border-radius: 15px;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#888));
    border: 2px solid #000;
    height: 25px;
    width: 25px;
}

//Combined vis Styles

#combined_svg svg {
  margin-left: 100px;
	  font: 10px sans-serif;
	}

#combined_svg .background path {
	  fill: none;
	  stroke: #fff;
    /*stroke: steelblue;*/
	}

	#combined_svg .foreground path {
	  fill: none;
	  stroke: steelblue;
	}

	/*.brush .extent {
	  fill-opacity: .3;
	  stroke: #fff;
	  shape-rendering: crispEdges;
	}*/

	#combined_svg .axis line,
	#combined_svg .axis path {
	  fill: none;
	  stroke: #fff;
	  shape-rendering: crispEdges;
	}

	#combined_svg .dimension text {
	  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
	  color: #ffffff;
	}

	#combined_svg .tooltip {
		background-color: white;
		color: #000;
		margin: 10px;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
    opacity: 1;
	}
/** Arun's Styles for Disaster Visualization **/
#topcountries {
  color: white !important;
}
#topcountries .axis .domain {
  display: none;
}

#topcountries .axis text {
  fill: #fff !important;
}

#topdisasters .bar{
  	fill: red;
}

#topdisasters .axis path,
#topdisasters .axis line {
  fill: #fff;
  stroke: #fff;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

#topdisasters .x path {
	display: none;
}

#topdisasters .toolTip {
	position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

#topdisasters .x-axis text, #topdisasters .y-axis text{
  fill: #fff !important;
  /*stroke: #fff !important;*/
}

#topdisasters .y-axis path, #topdisasters .x-axis path{
  stroke: #fff !important;
}

/** Ice Extent Styles **/
#northPole .y-iceAxis text, #northPole .x-iceAxis text, #southPole .y-iceAxis text, #southPole .x-iceAxis text {
  fill: #fff !important;
}

#northPole .x-iceAxis path, #southPole .x-iceAxis path, #northPole .y-iceAxis path, #southPole .y-iceAxis path {
  display: inline;
  visibility: visible;
  stroke: #fff !important;
}

#northPole .line, #southPole .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
