<div class="container">
  <div class="row row-content">
    <div class="col-sm-12">
      <div class="card card-inverse" style="background-color: #333; border-color: #333;">
        <div class="card-block">
          <h3 class="card-title">About</h3>
          <p class="card-text">This is a team projected created for the course <strong>CSE 578: Data Visualization</strong> at <strong>Arizona State University</strong>.
            <br />
            Here's the Project team,
            <ul>
              <li>Arun Karthikeyan</li>
              <li>Utkarsh</li>
              <li>Namratha Putta</li>
              <li>Saumya Parikh</li>
            </ul>
            <i>We specially thank Professor Dr. Ross Maciejewski and our Teaching Assistant Isaac Jones for their support and help for the project.</i>
          </p>
        </div>
      </div>
      <h2 >
      </h2>
    </div>
  </div>
</div>
