<div class="container">
  <div class="row row-content">
    <div class="col-sm-12">
    <h2 style="border-bottom: 1px ridge; padding-bottom: 10px;">Carbon Emission of Countries</h2>
    <h6>Carbon emissions are supposedly identified to be one of the main causes of Global Warming.
      The visualization below plots the carbon emissions of all countries with respect to their Gross Domestic Product(GDP) and Population.</h6>
    <p id="chart"></p>
    <button name="play" id="play">Play</button>
    <input id="slider" type="range" min="1960" max="2013" value="1960" step="1" />
    <span id="start">1960</span>
    <span id="finish">2013</span>
    </div>
    <div class="col-sm-12" style="margin-top: 20px;">
      <h6>The second visualization represent top 10 countries which emit most carbon emissions for last twenty years.</h6>
    </div>
    <div class="col-sm-12">
      <svg width="1060" height="500" style="margin-top: 80px;"></svg>
    </div>
    <div class="col-sm-12">
      <ol>
        <li>If a country has high GDP or population it is more likely to produce large amount of carbon emissions. </li>
        <li>It’s also been observed that when a country starts developing or burns more fossil fuels, the carbon emission rate increases proportionally. </li>
        <li>China, India and USA are few of the top countries which produce highest carbon emissions in total. </li>
        <li>But carbon emissions per capita is the highest for countries like Qatar, Kuwait etc. which uses more fossil fuels.</li>
      </ol>
    </div>
  </div>
</div>
