<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
      <title>CO2 Emission of Countries</title>
    
    <head><link rel="stylesheet" type="text/css" href="style.css"></head>
    <body>
    <h1>CO2 emission of Countries</h1>
    
    <p id="chart"></p>
    <button name="play" id="play">Play</button>
    <input id="slider" type="range" min="1960" max="2013" value="1960" step="1" />
    <span id="start">1960</span>
    <span id="finish">2013</span>
    <svg width="1060" height="500" style="margin-top: 80px;"></svg>
    
    </body>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="jquery-ui.min.js"></script>
    <script src="d3.min.js" charset="utf-8"></script>
    <script src="vis1_script.js" charset="utf-8"></script>
    <script src="vis2_script.js"></script>
    </div>
  </div>
</div>
