<style>

body, html{
	height: 100%;
}

.stroke {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
}

.fill {
  fill: none;
}

.graticule {
  fill: none;
  stroke: none;
  stroke-width: .5px;
  stroke-opacity: 1;
}

.land {
  fill: none;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}
.bubble {
  fill: blue;
  fill-opacity: 0.25;
  stroke: #fff;
  stroke-width: .5px;
}

.legend {
  font-size: 12px;
  fill: white;
}

#mapArea{
	width: 1100px;
	height: 300px;
	margin: 10px;
}

input[type='range'] {
	-webkit-appearance: none !important;
	-webkit-border-radius: 5px;
	/*-webkit-box-shadow: inset 0 0 5px #333;*/
	background-color: rgb(53, 135, 212);
	height: 5px;
	width: 500px;
	margin:5px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	-webkit-border-radius: 15px;
	background-color: #bbb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#888));
	border: 1px solid #000;
	height: 25px;
	width: 25px;
}

button {
	width: 80px;
	height: 40px;
	background: rgb(53, 135, 212);
	border: 1px solid rgb(53, 135, 212);
	border-radius: 4px;
	color: white;
	font-size: 20px;
}

.countryProfile{
  font-size: 20px;
  fill: white;
}

#countryDetails{
	top: 50%;
}

#legendArea{
	position: relative;
}

#carbonLevels{
  font-size: 12px;
  fill: white;
  position: relative;
}
.co2Heading{
	position: relative;
	left: 5px;
	top: 22.17%;
	font-weight: bold;
}
.co2Value{
	position: relative;
	left: 5px;
	top: 24.17%;
}
.disastersHeading{
	position: relative;
	left: 5px;
	top: 35%;
	font-weight: bold;
}
.disasterNo{
	position:relative;
	left: 5px;
	top: 37%;
}
.countryHeading{
	position: relative;
	left: 5px;
	top: 45%;
	font-weight: bold;	
}

#year {
	color: white;
	font-size: 25px;	
}


</style>
<div class="container bg-inverse text-white">
	<div class="row row-header" style="text-align: center; padding: 5px 0px; margin: 10px 0px; border-bottom: 1px ridge">
		<div class="col-xs-12" style="width: 100%">
			<h2 >Global Climatic Changes Over the Years</h2>
		</div>
	</div>
	<div class = "row row-header" style="text-align: center; padding: 5px 0px; margin: 10px 0px;">
		<div class = "col-xs-12" style="width: 70%"> 
			<div class = "row row-header" style="text-align: center; padding: 5px 0px; margin: 10px 0px;">
				<div class = "col-xs-12" id = "tempArea" style = "width: 100%">
					<p style = "color:white;">Temperature</h2>
						<h2><img src = "./app/images/legendTemp.jpg"></img></h2>
					</p>
					<div class = "row row-content">
						<div id = "mapArea"></div>
						<div class = "slider">
							<button type="button" id="start">Play</button>
							<input type='range' min='1960' max='2012' step='1' value='1960' id='rangeSlider'/> 
							<output name = "year" id = "year"> 1960 </output>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class = "col-xs-12" style = "width: 30%">
			<div class = "row row-header" style="text-align: center; padding: 5px 0px; margin: 10px 0px;">
			</div>
				<div class = "row row-content">
				<div class = "countryProfile" style = "width:100%">
					<div id = "countryDetails"> Country </div>
				</div>
					<div class = "col-xs-12" id = "legendArea" style = "width: 50%;">
					</div>
					<div class = "col-xs-12" id = "carbonLevels" style = "width: 50%">
						<div class = "co2Heading">CARBON LEVELS</div>
						<div class = "co2Value"> 59092691.68 </div>
						<div class = "disastersHeading"> DISASTERS </div>
						<div class = "disasterNo"> 6 </div>
					</div>
				</div>
		</div>
	</div>
</div>
<body>
	<script>
		var mappingArea = document.getElementById("mapArea");
		var areaDims = mappingArea.getBoundingClientRect();
		var width = areaDims.width;
    		height = areaDims.height;
		var projection, path, graticule, svg, svgCarbon, currentYear, startYear, endYear, countries, playing, numberOfDisasters, radialGradient, carbonValue, countryValues;
		var world, temperature, extremeTemp, droughts, globalCO2, floods, storms, tropicalCyclones, co2Measure;
		playing = false;
		startYear = 1960;
		endYear = 2012;
		currentYear = startYear;
		numberOfDisasters = 0;

		var minimumTemp = -2.303, maximumTemp = 3.599;
		var minCO2 = 7.757095562, maxCO2 = 8.502491904;

		var colorsTemp = d3.scaleLinear()
		    .domain(d3.ticks(minimumTemp, maximumTemp, 5))
		    //.range(['#d7191c','#fdae61','#ffffbf','#abdda4','#2b83ba']);
		   .range(['#feedde','#fdbe85','#fd8d3c','#e6550d','#a63603']);
		//console.log(colorsTemp.range());
		var radius = d3.scaleSqrt()
		    .domain([0, 7])
		    .range([0, 15]);

		var colorsCO2 = d3.scaleLinear()
		    .domain(d3.ticks(minCO2, maxCO2, 3))
		    .range(['#d9d9d9','#969696','#252525']);
		    //.range(["#dcdcdc", "#ababab", "#7a7a7a", "#494949", "#313131"]);
		//console.log(colorsCO2.range());
		//console.log(colorsCO2.domain()[0]);
		d3.select('#rangeSlider').on('input', function() {
			currentYear = this.value;
			d3.select('#year').html(currentYear);
			svg.selectAll("g")
		            .transition()
		            .remove();
		    svg.selectAll("radialGradient")
		            .transition()
		            .remove();
			joinData();
			d3.select('.disasterNo').html(numberOfDisasters);
			d3.select('.co2Value').html(carbonValue);
		});

		function initializeMap(){
		  setMap();
		  animate();
		}

		function setMap(){
		  projection = d3.geoWinkel3()
		                 .scale(100)
		                 .translate([width/2, height/2])
		                 .precision(.1);
		  path = d3.geoPath()
		          .projection(projection);
		  
		  graticule = d3.geoGraticule();

		  svg = d3.select("#mapArea")
		          .insert("svg")
		          .attr("width", width)
		          .attr("height", height);  

		  svg.enter().insert(".stroke");

		  svg.append("defs").append("path")
		      .datum({type: "Sphere"})
		      .attr("id", "sphere")
		      .attr("d", path);

		   svg.append("use")
		      .attr("class", "stroke")
		      .attr("xlink:href", "#sphere");

		  svg.append("use")
		      .attr("class", "fill")
		      .attr("xlink:href", "#sphere");

		  var div = d3.select("body").append("div")
		  				.attr("class", "tooltip")
		  				.style("opacity", 0);

		  addLegend();
		  loadData();
		}

		function loadData(){
		  queue()
		  .defer(d3.json, "./Data/world110m.json")
		  .defer(d3.json, "./Data/tempAnomaly.json")
		  .defer(d3.json, "./Data/tropicalCyclones.json")
		  .defer(d3.json, "./Data/storms.json")
		  .defer(d3.json, "./Data/droughts.json")
		  .defer(d3.json, "./Data/floods.json")
		  .defer(d3.json, "./Data/extremeTemp.json")
		  .defer(d3.json, "./Data/globalCO2.json")
		  .await(worldMap);
		}

		function addLegend(){
			var areaDims = legendArea.getBoundingClientRect();
			var legendWidth = areaDims.width;
    			legendHeight = areaDims.height;
			var svgLegend = d3.selectAll("#legendArea")
							.insert("svg")
							.data(colorsTemp.domain())
							.attr("width", legendWidth)
							.attr("height", legendHeight)
							.attr("class", "legend");
			/*svgLegend.append("circle")
					.attr("class", "legend")
					.attr("cx", 12)
					.attr("cy", 100)
					.attr("r", 12)
					.style("fill", "rgb(53, 135, 212");*/

			var cellWidth = 20, cellHeight = 20;
			svgLegend.append("text")
					.attr("x", 5)
					.attr("y", function(){return legendHeight/4})
					.style("font-weight", "bold")
					.text("DISASTERS");
			svgLegend.append("rect")
    				.attr("x", 5)
				    .attr("y", function(){return legendHeight/4 + 20}) 
				    .attr("width", cellWidth)
				    .attr("height", cellHeight)
				    .style("fill", "#08519c")
				    .style("opacity", 0.8);

			svgLegend.append("rect")
    				.attr("x", 5)
				    .attr("y", function(){return legendHeight/4 + 50}) 
				    .attr("width", cellWidth)
				    .attr("height", cellHeight)
				    .style("fill", "#006d2c")
				    .style("opacity", 0.8);

			svgLegend.append("rect")
    				.attr("x", 5)
				    .attr("y", function(){return legendHeight/4 + 80;}) 
				    .attr("width", cellWidth)
				    .attr("height", cellHeight)
				    .style("fill", "#993404")
				    .style("opacity", 0.8);

			svgLegend.append("rect")
					.attr("x", 5)
				    .attr("y", function(){return legendHeight/4 + 110;}) 
				    .attr("width", cellWidth)
				    .attr("height", cellHeight)
				    .style("fill", "#810f7c")
				    .style("opacity", 0.8);

			svgLegend.append("rect")
					.attr("x", 5)
				    .attr("y", function(){return legendHeight/4 + 140;}) 
				    .attr("width", cellWidth)
				    .attr("height", cellHeight)
				    .style("fill", "#ff9933")
				    .style("opacity", 0.8);

			svgLegend.append("text")
					.attr("x", 30)
					.attr("y", function(){return legendHeight/4 + 35;})
					.text("Tropical Cyclones");

			svgLegend.append("text")
					.attr("x", 30)
					.attr("y", function(){return legendHeight/4 + 65;})
					.text("Storms");

			svgLegend.append("text")
					.attr("x", 30)
					.attr("y", function(){return legendHeight/4 + 95;})
					.text("Droughts");

			svgLegend.append("text")
					.attr("x", 30)
					.attr("y", function(){return legendHeight/4 + 125;})
					.text("Floods");

			svgLegend.append("text")
					.attr("x", 30)
					.attr("y", function(){return legendHeight/4 + 155;})
					.text("Extreme Temperatures");
		}

		function worldMap(error, a, b, c, d, e, f, g, h){
		  world = a;
		  temperature = b;
		  tropicalCyclones = c;
		  storms = d;
		  droughts = e;
		  floods = f;
		  extremeTemp = g;
		  globalCO2 = h;
		  countries = topojson.feature(world, world.objects.countries).features;
		  numberOfDisasters = 0;
		  createMap();
		  joinData();
		}
		function joinData(){

		  numberOfDisasters = 0;
		  countries.forEach(function(country){

		    //temperature

		    var temp = temperature.filter(function(temperature){
		      return temperature['Country Code'] == country.id;
		    });
		    country.temperature = (temp[0] != undefined) ? temp[0][String(currentYear)] : null;
		    country.name = (temp[0] != undefined) ? temp[0]['Country'] : null;

		    //Tropical tropicalCyclones

		    var trC = tropicalCyclones.filter(function(tropicalCyclones){
		      return tropicalCyclones['CountryCode'] == country.id;
		    });
		    country.tropicalCyclones = (trC[0] != undefined) ? trC[0][currentYear] : null;
		    if (country.tropicalCyclones > 0 ){
		      numberOfDisasters = numberOfDisasters + 1;
		    }
		    //Storms

		    var storm = storms.filter(function(storms){
		    return storms['CountryCode'] == country.id;
		    });
		    country.storms = (storm[0] != undefined) ? storm[0][currentYear] : null;
		    if (country.storms > 0 ){
		      numberOfDisasters = numberOfDisasters + 1;
		    }
		    //Droughts

		    var drought = droughts.filter(function(droughts){
		      return droughts['CountryCode'] == country.id;
		    });
		    country.droughts = (drought[0] != undefined) ? drought[0][currentYear] : null;
		    if (country.droughts > 0 ){
		      numberOfDisasters = numberOfDisasters + 1;
		    }
		    //Floods

		    var flood = floods.filter(function(floods){
		      return floods['CountryCode'] == country.id;
		    });
		    country.floods = (flood[0] != undefined) ? flood[0][currentYear]: null;
		    if (country.floods > 0 ){
		      numberOfDisasters = numberOfDisasters + 1;
		    }
		    //Extreme Temperatures

		    var extrTemp = extremeTemp.filter(function(extremeTemp){
		      return extremeTemp['CountryCode'] == country.id;
		    });
		    country.extremeTemp = (extrTemp[0] != undefined) ? extrTemp[0][currentYear] : null;
		    if (country.storms > 0 ){
		      numberOfDisasters = numberOfDisasters + 1;
		    }
		  });
		  
		  co2Measure = globalCO2.filter(function(co2){
		    return co2['Year'] == currentYear;
		  });

		  carbonValue = co2Measure[0]['Total'];

		  fillMap();

		}

		function createMap(){

		  svg.selectAll(".country")
		    .data(countries)
		    .enter().insert("path", ".graticule")
		    .attr("class", "country")
		    .attr("d", path);

		  svg.insert("path", ".graticule")
		    .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
		    .attr("class", "boundary")
		    .attr("d", path);
		}

		function fillMap(){

		  svg.selectAll(".country")
		    .data(countries)
		    .transition()
		    .style("fill", function(d){return colorsTemp(d.temperature)});

		  svg.selectAll(".country")
		  	.data(countries)
		  	.on('mouseover', function(d){
		  		d3.select(this).style('fill-opacity', 0.5);
		  		d3.select("#countryDetails").text(function(){var details = d.name + ":\r\n" + parseFloat(Math.round(d.temperature * 1000) / 1000).toFixed(3); return details;});
		  		//console.log(d.temperature);
		  	})
		  	.on('mouseout', function(){
		  		d3.select(this).style('fill-opacity', 1);
		  		d3.select("#countryDetails").text("");
		  	});

		  var carbonColor = colorsCO2(co2Measure[0]['Log10']);

		  radialGradient = svg.append("defs")
		    .append("radialGradient")
		    .attr("id", "radial-gradient");

		  radialGradient.append("stop")
		    .attr("offset", "0%")
		    .attr("stop-color", function(){console.log(co2Measure[0]['Log10']); return carbonColor});

		  radialGradient.append("stop")
		    .attr("offset", "100%")
		    .attr("stop-color", "#fefefe");
		    
		  svg.selectAll("#sphere")
		    .transition()
		    .style("fill", "url(#radial-gradient)")
		    .style("fill-opacity", 0.75);

		  svg.append("g")
		    .attr("class", "bubble")
		    .selectAll("circle")
		    .data(countries)
		    .enter().append("circle")
		    //.transition()
		    .style("fill", "#08519c")
		    .style("fill-opacity", 0.75)
		    .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
		    .attr("r", function(d){return radius(d.tropicalCyclones);});

		  svg.append("g")
		    .attr("class", "bubble")
		    .selectAll("circle")
		    .data(countries)
		    .enter().append("circle")
		    //.transition()
		    .style("fill", "#006d2c")
		    .style("fill-opacity", 0.75)
		    .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
		    .attr("r", function(d){return radius(d.storms);});          

		  svg.append("g")
		    .attr("class", "bubble")
		    .selectAll("circle")
		    .data(countries)
		    .enter().append("circle")
		    //.transition()
		    .style("fill", "#993404")
		    .style("fill-opacity", 0.75)
		    .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
		    .attr("r", function(d){return radius(d.droughts);});

		  svg.append("g")
		    .attr("class", "bubble")
		    .selectAll("circle")
		    .data(countries)
		    .enter().append("circle")
		    //.transition()
		    .style("fill", "#810f7c")
		    .style("fill-opacity", 0.75)
		    .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
		    .attr("r", function(d){return radius(d.floods);});

		  svg.append("g")
		    .attr("class", "bubble")
		    .selectAll("circle")
		    .data(countries)
		    .enter().append("circle")
		    //.transition()
		    .style("fill", "#ff9933")
		    .style("fill-opacity", 0.75)
		    .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
		    .attr("r", function(d){return radius(d.extremeTemp);});



/*			var areaDims = carbonLevels.getBoundingClientRect();
			var cWidth = areaDims.width;
    			cHeight = areaDims.height;
			svgCarbon = d3.selectAll("#carbonLevels")
							.insert("svg")
							.data(colorsTemp.domain())
							.attr("width", cWidth)
							.attr("height", cHeight)
							.attr("class", "carbonLevels");

			svgCarbon.append("text")
						.attr("x", 5)
						.attr("y", cHeight/4)
						.style("font-weight", "bold")
						.text("CARBON LEVELS");

			carbonValue = svgCarbon.append("text")
						.attr("id", "carbonValue")
						.attr("x", 5)
						.attr("y", cHeight/4 + 30)
						.style("font-weight", "bold")
						.text(function(){return co2Measure[0]['Log10'];});
*/
		}

		function animate(){
		  var timer;  
		  d3.select('#start')  
		    .on('click', function() {  
		      if(playing == false) {  
		      	var b= d3.select("#rangeSlider");
		      	if (b.property("value") != 1960){
		      		currentYear = parseInt(b.property("value"));
		      		console.log(currentYear);
		      	}
		        timer = setInterval(function(){  
				  if(currentYear < endYear) {  
		            currentYear +=1;  
		          } 
		          else {
		            currentYear = startYear;  
		            clearInterval(timer);
		          }
		          var b= d3.select("#rangeSlider");
			      b.property("value", currentYear); 
			      console.log(b.property("value"));
		          svg.selectAll("g")
		            .transition()
		            .remove();
		          svg.selectAll("radialGradient")
		            .transition()
		            .remove();
		          joinData();  
		          d3.select('#year').html(currentYear);
		          d3.select('.co2Value').html(carbonValue);
		          d3.select('.disasterNo').html(numberOfDisasters);
		        }, 1000);
		        
		        d3.select(this).html('stop');  
		        playing = true;   
		      } 
		      else {    
		        clearInterval(timer);  
		        d3.select(this).html('play');   
		        playing = false;   
		      }
		  });
		}
		initializeMap();

	</script>
</body>
