<style>

body, html{
	height: 100%;
}

.stroke {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
}

.fill {
  fill: none;
}

.graticule {
  fill: none;
  stroke: none;
  stroke-width: .5px;
  stroke-opacity: 1;
}

.land {
  fill: none;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}
.bubble {
  fill: blue;
  fill-opacity: 0.25;
  stroke: #fff;
  stroke-width: .5px;
}

.legend {
  font-size: 12px;
  fill: white;
}

#mapArea{
	width: 1100px;
	height: 300px;
	margin: 10px;
}

input[type='range'] {
	-webkit-appearance: none !important;
	-webkit-border-radius: 5px;
	/*-webkit-box-shadow: inset 0 0 5px #333;*/
	background-color: rgb(53, 135, 212);
	height: 5px;
	width: 500px;
	margin:5px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	-webkit-border-radius: 15px;
	background-color: #bbb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#888));
	border: 1px solid #000;
	height: 25px;
	width: 25px;
}

button {
	width: 80px;
	height: 40px;
	background: rgb(53, 135, 212);
	border: 1px solid rgb(53, 135, 212);
	border-radius: 4px;
	color: white;
	font-size: 20px;
}

.countryProfile{
  font-size: 20px;
  fill: white;
}

#countryDetails{
	top: 50%;
}

#legendArea{
	position: relative;
}

#carbonLevels{
  font-size: 12px;
  fill: white;
  position: relative;
}
.co2Heading{
	position: relative;
	left: 5px;
	top: 22.17%;
	font-weight: bold;
}
.co2Value{
	position: relative;
	left: 5px;
	top: 24.17%;
}
.disastersHeading{
	position: relative;
	left: 5px;
	top: 35%;
	font-weight: bold;
}
.disasterNo{
	position:relative;
	left: 5px;
	top: 37%;
}
.countryHeading{
	position: relative;
	left: 5px;
	top: 45%;
	font-weight: bold;
}

#year {
	color: white;
	font-size: 25px;
}


</style>
<div class="container bg-inverse text-white">
	<div class="row row-header" style="text-align: center; padding: 5px 0px; margin: 10px 0px; border-bottom: 1px ridge">
		<div class="col-xs-12" style="width: 100%">
			<h2 >Global Climatic Changes Over the Years</h2>
		</div>
	</div>
	<div class = "row row-header" style="text-align: center; padding: 5px 0px; margin: 10px 0px;">
		<div class = "col-xs-12" style="width: 70%">
			<div class = "row row-header" style="text-align: center; padding: 5px 0px; margin: 10px 0px;">
				<div class = "col-xs-12" id = "tempArea" style = "width: 100%">
					<p style = "color:white;">Temperature</h2>
						<h2><img src = "app/images/legendTemp.JPG" class = "img-fluid"></img></h2>
					</p>
					<div class = "row row-content">
						<div id = "mapArea"></div>
						<div class = "slider">
							<button type="button" id="start">Play</button>
							<input type='range' min='1960' max='2012' step='1' value='1960' id='rangeSlider'/>
							<output name = "year" id = "year"> 1960 </output>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class = "col-xs-12" style = "width: 30%">
			<div class = "row row-header" style="text-align: center; padding: 5px 0px; margin: 10px 0px;">
			</div>
				<div class = "row row-content">
				<div class = "countryProfile" style = "width:100%">
					<h2> Temperature Anomaly </h2>
					<div id = "countryDetails"> Country</div>
				</div>
					<div class = "col-xs-12" id = "legendArea" style = "width: 50%;">
					</div>
					<div class = "col-xs-12" id = "carbonLevels" style = "width: 50%">
						<div class = "co2Heading">CARBON LEVELS</div>
						<div class = "co2Value"> 59092691.68 </div>
						<div class = "disastersHeading"> DISASTERS </div>
						<div class = "disasterNo"> 6 </div>
					</div>
				</div>
		</div>
	</div>
</div>
