<div class="container bg-inverse text-white">
  <div class="row row-header" style="text-align: center; padding: 25px 0px; margin: 50px 0px; border-bottom: 1px ridge">
    <div class="col-xs-12" style="width: 100%">
      <h2 >Disaster Dashboard</h2>
    </div>
  </div>
  <div class="row row-content" style="text-align: center; background-image: url('app/images/disaster-screenshot.jpeg'); background-position: center; backgrond-repeat: no-repeat; backgound-origin: border-box; background-size: 100% 100%;">
    <div class="col-xs-12" style="width: 100%">
      <!-- <h3>World Map Area</h3> -->
    </div>
  </div>
  <div class="row row-content" style="text-align: center;">
    <div class="col-md-6" style="border-right: 1px ridge">
      <h3>Top 10 Countries affected by disasters</h3>
      <img src="app/images/topCountries.png" class="img-fluid"/>
    </div>
    <div class="col-md-6">
      <div class="row" style="min-height: 40%";>
        <div class="col-md-3">
          <h3 style="padding-bottom: 10px;"><strong>Year</strong></h3>
          <h4>1987</h4>
        </div>
        <div class="col-md-3">
          <h3 style="padding-bottom: 10px;"><strong>Deaths</strong></h3>
          <h4>5437</h4>
        </div>
        <div class="col-md-3">
          <h3 style="padding-bottom: 10px;"><strong>Affected</strong></h3>
          <h4>322895271</h4>
        </div>
        <div class="col-md-3">
          <h3 style="padding-bottom: 10px;"><strong>Damage</strong></h3>
          <h4>$6569945</h4>
        </div>
      </div>
      <div class="row" style="text-align: center;">
        <h3 style="width: 100%;">Severity of Disasters</h3>
        <img src="app/images/topDisasters.png" class="img-fluid"/>
      </div>
    </div>
  </div>
</div>
