<div class="container bg-inverse text-white">
  <div class="row row-header" style="text-align: center; padding: 25px 0px; margin: 50px 0px; border-bottom: 1px ridge">
    <div class="col-xs-12" style="width: 100%">
      <h2 >Disaster Dashboard</h2>
    </div>
  </div>
  <div class="row row-content" style="text-align: center;">
    <div class="col-xs-12" style="width: 100%">
      <h3>World Map Area</h3>
    </div>
  </div>
  <div class="row row-content" style="text-align: center;">
    <div class="col-md-6" style="border-right: 1px ridge">
      <h3>Top 10 Countries affected by disaster Stacker Bar chart viz.</h3>
    </div>
    <div class="col-md-6">
      <h3>Disaster wise damage in dollars, horizontal bar chart viz.</h3>
    </div>
  </div>
</div>
