<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="#">CSE 578</a>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" ui-sref="app">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="app.co2">CO2 Emission </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="app.disaster">Disaster </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="app.ice">Ice Extent </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="app.temperature">Temperature </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="app.combined">Combined </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="app.about">About </a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</nav>

<header class="jumbotron bg-success text-black">

  <!-- Main component for a primary marketing message or call to action -->

  <div class="container">
    <div class="row row-header">
      <div class="col-sm-12 col-md-8">
        <h1>Visualizing the Causes and Effects of Climate Change</h1>
        <p style="padding:40px;"></p>
        <p>or something like that...</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <!-- <p style="padding:20px;"></p> -->
          <img src="images/logo.png" class="img-fluid">
        </div>
      </div>
    </div>
  </header>

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" style="height: 3.5em;">
  </nav>
