<div class="container">
  <div class="row row-content">
    <div class="col-sm-12">
      <div class="card card-inverse" style="background-color: #333; border-color: #333;">
        <div class="card-block">
          <h3 class="card-title">Is Climate Change Real ?</h3>
          <h4 class="card-text">Are you curious about finding if Global warming is real or not? In the recent years,
            there has always been a debate about this phenomenon is real or not. We hope these visualizations give you a better idea.</h4 >
            <h4>We have identified four different factors to understand climate change and a combined visualization that brings together all four factors.
              Please click the following links to proceed to that visualization:</h4>
          <div class=row>
            <div class="col-sm-12">
                <a ui-sref="app.co2" class="btn btn-secondary btn-lg btn-block">Carbon Emission Visualization</a>
            </div>
          <div class="col-sm-12">
              <a ui-sref="app.disaster" class="btn btn-secondary btn-lg btn-block">Natural Disasters Visualization</a>
          </div>
          <div class="col-sm-12">
              <a ui-sref="app.ice" class="btn btn-secondary btn-lg btn-block">Sea Ice Extent Visualization</a>
          </div>
          <div class="col-sm-12">
            <a ui-sref="app.temperature" class="btn btn-secondary btn-lg btn-block">Global Temperature Visualization</a>
          </div>
          <div class="col-sm-12">
            <a ui-sref="app.combined" class="btn btn-secondary btn-lg btn-block">Combined Visualization</a>
          </div>
          </div>
        </div>
      </div>
      <h2 >
      </h2>
    </div>
  </div>
</div>
