<div class="container">
  <div class="row row-content">
    <div class="col-sm-12">
      <div class="card card-inverse" style="background-color: #333; border-color: #333;">
        <div class="card-block">
          <h3 class="card-title">Is Climate Change Real ?</h3>
          <p class="card-text">Are you curious about finding if Global warming is real or not? In the recent years,
            there has always been a debate about this phenomenon is real or not. We hope these visualizations give you a better idea.</p>
        </div>
      </div>
      <h2 >
      </h2>
    </div>
  </div>
</div>
