<div class="container">
  <div class="row row-content">
    <div class="col-xs-12" style="text-align: center;">
      <h2 style="border-bottom: 1px ridge; padding-bottom: 10px;">Ice Extent Visualization Page</h2>
      <h3 style="padding-bottom: 10px;"> Northern Hemisphere </h3>
      <h6 style="text-align: left;">One of the major concerns of global warming is rise in sea level due to melting of polar caps. The visualizations represent the ice extent in northern and southern hemispheres throughout the years.</h6>
      <h4><img src = "app/images/legendNorthPole.JPG" class = "img-fluid"></img></h4>
      <p id = "northPole"></p>
      <h3> Southern Hemisphere</h3>
      <h4><img src = "app/images/legendNorthPole.JPG" class = "img-fluid"></img></h4>
      <p id = "southPole"> </p>
      <h6 style="text-align: left;">Polar caps reflect most of the sun rays back into space and helps earth balance the surface temperature. If they decrease, more heat is absorbed and more ice extent is decreased which leads to further rise in temperature. This leads to a chain of events which can lead to no ice extent in northern hemisphere in a few decades.</h6>
    </div>
    <h7>*The data for the ice extent has been taken from NSIDC.</h7>
  </div>
</div>
