<div class="container">
  <div class="row row-content">
    <div class="col-xs-12" style="text-align: center;">
      <h2 style="border-bottom: 1px ridge; padding-bottom: 10px;">Temperature Visualization Page</h2>
      <h3 style="padding-bottom: 10px;"> Global Temperature </h3>
      <h6 style="text-align: left;">Global warming is all about the increase in surface temperature of earth. This visualization presents the rise in surface temperature of the earth from 1880-2014.</h6>
      <p id="globalTemperature" style="margin-bottom: 100px;"></p>

      <h3> Polar Temperatures </h3>
      <h6 style="text-align: center;">The visualization below represents the change in surface temperature in the north pole and south pole.</h6>
      <p id = "polarTemperature" style="margin-bottom: 100px;"><img src = "app/images/legendTempNS.JPG" class = "img-fluid" style = "margin-top: 100px;"></img></p>
      <h6 style="text-align: left;">There has been a temperature increase by 1 degree in past few decades. It doesn’t’ seem much of a difference? It was 1-2 degree temperature drop that pushed earth into Ice age.</h6>
    </div>
      <h7>*The data for the temperature has been taken from NASA.</h7>
  </div>
  </div>
</div>
