<style>

.tempAxis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>

<div class="container">
  <div class="row row-content">
    <div class="col-xs-12" style="text-align: center;">
      <h2 >Temperature Visualization Page</h2>
      <h3> Global Temperature </h3>
      <p id="globalTemperature" style="margin-bottom: 100px;"></p>
      <h3> Polar Temperatures </h3>
      <p id = "polarTemperature" style="margin-bottom: 100px;"></p>
    </div>
  </div>
  </div>
</div>
